/* 
주요 사용 색상

배경: #cfd8dc
탭/타이틀색상: #9ea7aa
본문: #ffffff
*/

div {
  padding: 5px;
}
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #cfd8dc;
}

.navbar {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;

  max-width: 1200px;
  background-color: #cfd8dc;
}

img {
  width: 100%;
  height: 100%;
}
